body
{
    margin: 0;
    font-family: arial;
}

body *
{
    box-sizing: border-box;
}

p
{
    font-weight: bold;
    line-height: 1.5;
}

.splashscreen
{
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-image: url(../resources/map-bookmarks-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

.welcomescreen
{
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-image: url(../resources/welcome-bg.jpg);
    background-color: black;
    background-position: top right;
    background-repeat: no-repeat;
    color: #B7D9FE;
}

.welcomemessage
{
    position: absolute;
    width: 100%;
    bottom: 50px;
    text-align: center;
    padding: 20px;
}

.welcomemessage__skip
{
    cursor: pointer;
}

.welcomemessage__skip:hover
{
    opacity: 0.7;
}

.welcomemessage__skip:active
{
    opacity: 0.3;
}

#map
{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.marker
{
    position: absolute;
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
    background-size: contain;
    transform: translateX(-50%) translateY(-50%);
}

.marker__arrow
{
    transform: translateX(-50%) translateY(-70%);
}

.controls
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.locate-button
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
    background: url(../resources/map-icons/radar_waypoint.png);
    background-size: contain;
    background-color: white;
}